<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.naukrionetouch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        
        <activity
            android:name="com.naukrionetouch.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.naukrionetouch.RegisterActivity" android:label="@string/register" android:screenOrientation="portrait"/>
        <activity android:name="com.naukrionetouch.LoginActivity" android:label="@string/login" android:screenOrientation="portrait"/>
        <activity android:name="com.naukrionetouch.adapter.CityList" android:label="@string/app_name" android:screenOrientation="portrait" />
        <activity android:name="com.naukrionetouch.JobProfileCreationActivity" android:label="@string/job_profile" android:screenOrientation="portrait" />
        <activity android:name="com.naukrionetouch.SeekerHomeActivity" android:label="@string/home" android:screenOrientation="portrait" />
       	<activity android:name="com.naukrionetouch.RecruiterHomeActivity" android:label="@string/home" android:screenOrientation="portrait" />
       	<activity android:name="com.naukrionetouch.JobDetailsActivity" android:label="@string/job_details" android:screenOrientation="portrait" />
       	<activity android:name="com.naukrionetouch.SearchResultActivity" android:label="@string/search_result" android:screenOrientation="portrait" />
    </application>

</manifest>
